# Configuration for files containing "linux" in their path/name
If:
  PathMatch: .*linux.*
CompileFlags:
  Add: 
    - "--target=x86_64-unknown-linux-gnu"
    - "-D__linux__"
---

# Configuration for files containing "windows" in their path/name
If:
  PathMatch: .*win32.*
CompileFlags:
  Add: 
    - "--target=x86_64-w64-mingw32"
    - "--sysroot=/usr/x86_64-w64-mingw32"
    - "-D_WIN32"
    - "-DVK_USE_PLATFORM_WIN32_KHR"
    - "-fms-extensions"
    - "-fms-compatibility"
    - "-fdelayed-template-parsing"
    - "-DNOMINMAX"
    - "-std=gnu17"

    - "-isystem/usr/include" 

    - "-isystem/usr/lib/clang/21"
